/*nav bar css*/

.navbar {
    background-color: white; 
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  .navbar a{
    font-family:'Times New Roman', Times, serif;
    margin-top: 0.8rem;
    display:block;
    color: black;
    text-align: center;
    padding:10px 20px 10px;
  }
  .navbar ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
  }
  .navbar a:hover {
    background: #ddd;
    color:cadetblue; 
  }

  /*design of index page*/
  .indexgrid{
    margin: 0 3rem;
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: 1.6fr 4fr;
    column-gap: 4rem;
  }
  img{
    max-width: 400px;
    float: left;
    padding-top: 1em;
  }
  h1{
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    padding-top: 3em;
    text-align: center;
  }
  h2{
    color: grey;
    text-align: center;
    padding-top:300px
  }
  p{
    padding-top: 100px;
    word-spacing:5px;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
  }
  /*design of Contact page*/

  .contactheader{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .insta{
    border: solid;
    text-align: center;
    border-width: 0.6px;
    border-color: cadetblue;
    font-size: large;
    padding: 2rem;
    font-family:'Times New Roman', Times, serif;
  }
  .email{
    border: solid;
    text-align: center;
    border-width: 0.6px;
    border-color: cadetblue;
    font-size: large;
    padding: 2rem;
    font-family:'Times New Roman', Times, serif;
  }
  .pinterest{
    text-align: center;
    border: solid;
    border-width: 0.6px;
    border-color: cadetblue;
    font-size: large;
    padding: 2rem;
    font-family:'Times New Roman', Times, serif;
  }

 h2{
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  padding-top: 100px;
  padding-bottom: 50px;
  border-top: solid cadetblue;
  border-bottom: solid cadetblue;
 }
 .insta a{
  color: skyblue;
  font-size: x-large;
 }
 .insta a:hover{ 
    background: #ddd;
    color:cadetblue;
    font-size: x-large;
  }
  .pinterest a{
    color: skyblue;
    font-size: x-large;
  }
  .pinterest a:hover{
      background: #ddd;
      color:cadetblue;
      font-size: x-large;
  }

/*photography and design page layouts*/
 .photogrid{
    list-style: none;
    margin: 0;
    padding: 5em 18em;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 3em;
}
.designgrid{
  list-style: none;
    margin: 0;
    padding: 5em 15em;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 3em;
}
    /*responsive design!*/

    @media only screen and (max-width: 950px){
      html{background-color: white;}
      .navbar{
        font-size: large;
        float:right;
      }
        .indexgrid{
          margin: 0 2rem;
          padding:3rem 2rem;
          grid-template-columns: 1.5fr 4fr;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
          grid-template-rows: 50%;
          height: 55em;
        }
        .photogrid{
          margin: 0 2rem;
          padding:3rem 2rem;
          grid-template-columns: 1.5fr 4fr;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
          grid-template-rows: 50%;
          height: 55em;
        }
        .designgrid{
          margin: 0 2rem;
          padding:3rem 2rem;
          grid-template-columns: 1.5fr 4fr;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
          grid-template-rows: 50%;
          height: 55em;
        }
      }