*{
    padding: 0;
    margin: 0;
}
/*creating the canvas*/
#game{
    width: 400px;
    height: 500px;
    border: 1px solid cadetblue;
    margin: auto;
    overflow: hidden;
}
/*creating the obstacles*/
#block{
    width: 50px;
    height: 500px;
    background-color: white;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}
/*animation loop*/
@keyframes block{
    0%{left:400px}
    100%{left:0px}
}
/*the gaps to fly through*/
#hole{
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}
/*creating our flappy bird*/
#character{
    width: 20px;
    height: 20px;
    background-color: orangered;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}